      <div class="handbook-guides">
        <div class="wrapper">
          <section class="handbook"> 
            <h1>Our Handbook</h1>
            <p>Everything you need to know to hit the ground running at 18F.</p> 
            <a class="button" href="https://handbook.18f.gov/">Get started</a>
          </section>
          <section class="guides">
            <h1>Guides</h1>
            <p>&ldquo;How to&rdquo; information, largely written by working groups, guilds, and chapters.</p>
            <a class="button" href="https://pages.18f.gov/guides/">See our guides</a>
          </section>
        </div>
      </div>
      <div class="wrapper page">
        <section class="recent-hires">
          <h1>Recent hires</h1>
          <% @recentHires.each do |result| %>
          <article class="person">
            <a href="https://pages.18f.gov/team-browser/team/<%= result['name'] %>/"><%= result['full_name'] %></a>
            <% if result['has_photo'] %>
              <img src="https://pages.18f.gov/team-browser/assets/images/team/<%= result['name'] %>.jpg">
            <% else %>
              <%= image_tag "avatar_blank.png", :alt => "Photo not available" %>
            <% end %>
          </article>
          <% end %> 
          <a href="https://pages.18f.gov/team-browser/" class="see-everyone">See everyone</a>
        </section>
        <section class="top-traffic">
          <h1>Most requested pages</h1>
          <div class="ol-wrapper">
            <ol class="ol-1-4">
              <li><a href="https://handbook.18f.gov/project-intake-101/">Intake</a></li>
              <li><a href="https://checklistomania.apps.cloud.gov/">Checklists</a></li>
              <li><a href="https://handbook.18f.gov/how-we-work">How we work</a></li>
              <li><a href="https://handbook.18f.gov/networks/">Network</a></li>
            </ol>
            <ol class="ol-5-7">
              <li><a href="https://handbook.18f.gov/bookmarks/#guides-and-standards">Guidelines</a></li>
              <li><a href="https://handbook.18f.gov/acano">Acano</a></li>
              <li><a href="https://handbook.18f.gov/professional-development-and-training/">Professional development and training</a></li>
            </ol>
            <ol class="ol-8-10">
              <li><a href="https://handbook.18f.gov/float">Float</a></li>
              <li><a href="https://handbook.18f.gov/#about-us">18F Structure</a></li>
              <li><a href="https://handbook.18f.gov/slack">Slack</a></li>
            </ol>
          </div>
        </section>
      </div>  