      <div class="handbook-contribute">
        <div class="wrapper">
          <section class="handbook">
            <h1>Our Handbook</h1>
            <p>Everything you need to know to hit the ground running at 18F.</p> 
            <a class="button" href="https://handbook.18f.gov/">Get started</a>
          </section>
          <section class="contribute">
            <h1>Contribute</h1>
            <p>Want to write something that&rsquo;ll help the rest of your colleagues? Start here.</p>
            <a class="button" href="https://pages-internal.18f.gov/karass/">Share something</a>
          </section>
        </div>
      </div>
      <div class="wrapper page">
        <section class="recent-hires">
          <h1>Recent hires</h1>
          <a href="https://team.18f.gov">See everyone</a>
          <article class="person">
            <a href="{{site.baseurl}}/team/show.html">Melody Kramer</a>
            <img src="http://placehold.it/200/200">
          </article>
          <article class="person">
            <a href="{{site.baseurl}}/team/show.html">Mike Bland</a>
            <img src="http://placehold.it/200/200">
          </article>
          <article class="person">
            <a href="{{site.baseurl}}/team/show.html">Carolyn Dew</a>
            <img src="http://placehold.it/200/200">
          </article>
          <article class="person">
            <a href="{{site.baseurl}}/team/show.html">Mike Bland</a>
            <img src="http://placehold.it/200/200">
          </article>
          <article class="person">
            <a href="{{site.baseurl}}/team/show.html">Mike Bland</a>
            <img src="http://placehold.it/200/200">
          </article>
          <article class="person">
            <a href="{{site.baseurl}}/team/show.html">Mike Bland</a>
            <img src="http://placehold.it/200/200">
          </article>
        </section>
        <section class="top-traffic">
          <h1>Most requested pages</h1>
          <div class="ol-wrapper">
            <ol class="ol-1-4">
              <li><a href="{{site.baseurl}}/handbook/design">All Things 18F Intake!</a></li>
              <li><a href="{{site.baseurl}}/handbook/design">Team</a></li>
              <li><a href="{{site.baseurl}}/handbook/design">Acano Workflows</a></li>
              <li><a href="{{site.baseurl}}/handbook/design">Something else</a></li>
            </ol>
            <ol class="ol-5-7">
              <li><a href="{{site.baseurl}}/handbook/design">Onboarding</a></li>
              <li><a href="{{site.baseurl}}/handbook/design">Accessing the GSA Network Remotely</a></li>
              <li><a href="{{site.baseurl}}/handbook/design">How to&hellip;</a></li>
            </ol>
            <ol class="ol-8-10">
              <li><a href="{{site.baseurl}}/handbook/design">Roles - Observer</a></li>
              <li><a href="{{site.baseurl}}/handbook/design">Team By Location</a></li>
              <li><a href="{{site.baseurl}}/handbook/design">18F structure</a></li>
            </ol>
          </div>
        </section>
      </div>  